@import url("nav.css");

body{
    background-color: rgb(226, 226, 226);
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

aside{
    height: 500px;
    min-width: 225px;
    border: 1px solid blue;
}

section{
    display: block;
    margin-inline: 40px;
    width: 555px;
}

.add-post{
    height: 100px;
    width: 100%;
    margin-bottom: 40px;
}

.posts{
    height: 500px;
    width: 100%;
    border: 1px solid blue;
}

.information-notices{
    height: 350px;
    width: 300px;
    border: 1px solid blue;
}